<nav>
    <div class="navbar">
        <a href="/products" class="navName">eCom</a>
        <div class="links">
            <a href="">About</a>
            <% if(currentUser) {%>
                <a href="/users/logout">Logout</a>
                <% }else {%>
                    <a href="/users/login">Login</a>
                    <% } %>
                        <a href="/cart" id="cart">Cart<img src="assets/white.png" alt=""></a>

        </div>
    </div>
</nav>