<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to eCom!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to eCom, your new, favorite eCommerce site.</h1>
        <h3></h3>
        <div class="text">
            <p>
                Simple, Clean, and easy to navigate.
            </p>
        </div>
        <a href="/products">Current Listings</a>
    </div>
</body>

</html>